
# ── Streamlit Dashboard ───────────────────────────────────
# API connection
STREAMLIT_BASE_URL=https://rakuten.industry-ai-engineering.com/bentoml
STREAMLIT_API_KEY=your_api_key_here
STREAMLIT_NGINX_USER=your_nginx_user
STREAMLIT_NGINX_PASS=your_nginx_password
STREAMLIT_BENTO_USER=your_bento_user
STREAMLIT_BENTO_PASS=your_bento_password

# Default passwords for admin/demo_user on first start (optional)
# If not set, accounts have no password until set via admin UI
STREAMLIT_ADMIN_PASSWORD=
STREAMLIT_DEMO_PASSWORD=


MLFLOW_TRACKING_URI=https://dagshub.com/Mlops2026/rakuten-project.mlflow
MLFLOW_TRACKING_USERNAME=Mlops2026
MLFLOW_TRACKING_PASSWORD=TOKEN
MLFLOW_REGISTRY_URI=https://dagshub.com/Mlops2026/rakuten-project.mlflow
DOCKER_GID=961
BENTO_TAG=latest

# DVC (S3)
DAGSHUB_USER_TOKEN=TOKEN
AWS_ACCESS_KEY_ID=TOKEN
AWS_SECRET_ACCESS_KEY=TOKEN
AWS_ENDPOINT_URL=https://dagshub.com/Mlops2026/rakuten-project.s3

# AIRFLOW
AIRFLOW_UID=50000
AIRFLOW_GID=0
PROJECT_ROOT=/home/guk/Projects/FoBi_DS_MLOps/MLOps/Project/mlops-rakuten
DEVICE=cu121

# Huggingface
HF_TOKEN=<get the token from hugginface>
