TOKEN=<YOUR_TOKEN>
MLFLOW_TRACKING_URI=https://dagshub.com/Mlops2026/rakuten-project.mlflow
MLFLOW_TRACKING_USERNAME=Mlops2026
MLFLOW_TRACKING_PASSWORD=${TOKEN}
MLFLOW_REGISTRY_URI=https://dagshub.com/Mlops2026/rakuten-project.mlflow
# Change Docker_GID with: echo "DOCKER_GID=$(stat -c '%g' /var/run/docker.sock)" >> .env
DOCKER_GID=961
BENTO_TAG=latest

DAGSHUB_USER_TOKEN=${TOKEN}
AWS_ACCESS_KEY_ID=${TOKEN}
AWS_SECRET_ACCESS_KEY=${TOKEN}
AWS_ENDPOINT_URL=https://dagshub.com/Mlops2026/rakuten-project.s3

AIRFLOW_UID=50000
AIRFLOW_GID=0
# Change PROJECT_ROOT echo "PROJECT_ROOT=$(pwd)" >> .env
PROJECT_ROOT=/home/guk/Projects/FoBi_DS_MLOps/MLOps/Project/mlops-rakuten
DEVICE=cu121

HF_TOKEN=<get the token from hugginface>

BENTO_USER=user123
BENTO_PASS=password123
BENTO_JWT_SECRET=rakuten_text_service_secret_key_2026

STREAMLIT_ADMIN_PASSWORD=
STREAMLIT_DEMO_PASSWORD=
STREAMLIT_BASE_URL=http://bentoml:3000
STREAMLIT_API_KEY=your_api_key_here
STREAMLIT_NGINX_USER=your_nginx_user
STREAMLIT_NGINX_PASS=your_nginx_password
STREAMLIT_BENTO_USER=${BENTO_USER}
STREAMLIT_BENTO_PASS=${BENTO_PASS}


# Github Token, to push as airflow user in airflow dags
# how to get GIT_TOKEN: go to GitHub → Settings → Developer Settings → Personal Access Tokens → Fine-grained tokens and create a token (https://github.com/settings/tokens)
GIT_TOKEN=ghp_dein_token_hier

# Dockerhub
DOCKER_USERNAME=mlops2026

# set to ml-rakuten if you want to run it locally and for prod use mlops2026
DOCKER_NAMESPACE=ml-rakuten
