# MLflow Daten
mlruns/
mlartifacts/

# Python Build Artefakte
*.egg-info/
build/
dist/
__pycache__/
*.pyc
*.pyo

# data
data/
datasets/

# trained models
models/
trained_models/
search/
hyperparameter_search/

# results
results/

# logs
logs/

# environments
.venv/
venv/
env/
*.egg-info/

# system
.DS_Store
