# MLflow Daten
mlruns/
mlartifacts/

# Python Build Artefakte
*.egg-info/
build/
dist/
__pycache__/
*.pyc
*.pyo

# data
data/*
!data/raw.dvc
!data/raw/.gitignore

data/processed/*
!data/processed/.gitignore

artifacts/*
!artifacts/.gitignore

# trained models
models/*
!models/.gitignore
hyperparameter_search/

# results
results/*
!results/dvc_metrics.json
!results/mlflow_run_id.txt

# logs
logs/

# environments
.venv/
venv/
env/
.env
.env.dev
*.egg-info/

# system
.DS_Store
